body {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  width: 100vw;
  height: 200vh; 
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  position: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos hacia los extremos */
  padding: 15px 20px;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

.contenido {
  margin-top: 10px; /* Da espacio para el navbar */
  padding: 20px;
  display: center;
  margin: auto;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  color: #61dafb;
}

.navbar .nav-links {
  gap: 1rem;
}

.navbar button {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar .nav-links a:hover {
  background-color: #555;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 15px; /* Espacio entre los botones */
}

/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animación de giro del logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card */
.card {
  padding: 2em;
}

/* Docs */
.read-the-docs {
  color: #888;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 6px;
}

.modal h3 {
  margin-top: 0;
}

.modal form {
  display: block;
  flex-direction: row;
}

.modal form label {
  margin-top: 10px;
}

.modal form input,
.modal form select {
  color: black;
  background-color: whitesmoke;
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.modal button {
  margin-top: 10px;
}

/* Contenedor principal del formulario */
.form-container {
  background-color: white;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  border-color: #333;
}

.form-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.form-container label {
  display: block;
  margin: 12px 0 6px;
  font-size: 14px;
}

.form-container input {
  color: black;
  background-color: whitesmoke;
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.form-container input:focus {
  outline: none;
  border-color: #61dafb;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

.form-container label{
  color: black;
}

.form-container button:hover {
  background-color: #53c3e3;
  transform: scale(1.02);
}

.form-container button:active {
  background-color: #47b0cf;
}

.form-container p {
  color: black;
}

/* Estilo para el botón de alternar entre Login y Registro */
.login-register-button {
  background-color: transparent;
  color: #61dafb;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
  margin-top: 15px;
  text-align: center;
  display: block;
}

.login-register-button:hover {
  color: #53c3e3;
  text-decoration: underline;
}
